body {
    font-family: Arial, sans-serif;
    background: url("student_performance_img.jpg") no-repeat center center/cover;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    width: 400px;
    padding: 25px;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
}

input, select {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

.btn {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background: #388E3C;
}
